@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}

.row{
  width: 100%;
}

nb-card-header{
    background: #ececec;
    box-shadow: 1px 2px 4px 3px #eae7e7;
    margin-bottom: 6px;
}
chart{
  margin: 6% 0px;
  display: block;
  height: 100%;
  width: 100%;
}

nb-card{
  height: unset;
  min-height: 28.875rem;
}

// .echart {
//   display: block;
//   height: 100%;
//   width: 100%;
// }
